html,body{
	height:100%;
	
}
img{
	max-width:100%;
}
.backdrop{
	background:url(../images/Layer.png) no-repeat ;
	background-size:cover;
	min-height:670px;
	position:relative;
}

#contacts,#contacts a{
	background:#af9559;
	color:#fff;

}
#contacts>*{
	/* display:inline-flex; */
	color:#fff;
}
.contacts {
	display:table;
	margin:0 auto;
	width:83.3333333333%;
	height:48px;
	line-height:48px;
}

.contacts>*{
	display:table-cell;
}
.contacts1{
	width:100%;
	display:inline-flex;
	justify-content:space-around;
}
.whiteheader{
	background:#fff;
}
.whiteheader1{
	width:82.5833333333%;
	margin:0 auto;
}

.logo{
	text-align:center;
	display:inline-block;
	width:29.1666666667%;
}
.logo img{
	max-width:100%;
}
.logo+input{
	width:31.5833333333%;
}
.backdrop button{
	margin-left:2.58333333333%;
	width:12.5833333333%;
}
nav{
	display:flex;
	justify-content:space-around;
	width:100%;
	margin:0 auto;
}
nav a:first-child{
	color:#af9559;
}
nav a{
	color:#000;
	text-decoration:none;
}
.newitems{
	width:41.6666666667%;
	color:#fff;
	position:absolute;
	top:47.533632287%;
	right:8.16666666667%;
	font-size:1.16666666667rem;
}
.newitems p:first-child{
	color:#b0b0b0;
}
.newitems p:nth-child(2){
	font-size:3.33333333333rem;
}

.newitems p{
	margin-top:0;
	margin-bottom:0;
}
.partners{
	width:81.6666666667%;
	margin:0 auto;
	display:flex;
	justify-content:space-around;
	position:relative;
}
.partners a{
	display:inline-block;
	min-width:10%;
	height:70px;
	background:url(../images/partners.png) no-repeat;
	overflow:hidden;
	
}
.partners a:nth-child(1){
	background-position-X:-3.444%;
}
.partners a:nth-child(2){
	background-position-X:15.5555555556%;
}
.partners a:nth-child(3){
	background-position-X:31.1111111112%;
}
.partners a:nth-child(4){
	background-position-X:46.6666666668%;
}
.partners a:nth-child(5){
	background-position-X:65.2222222224%;
}
.partners a:nth-child(6){
	background-position-X:84.778%;
}
.partners a:nth-child(7){
	background-position-X:104%;
}
.arrowleft{
	width:20px;
	height:20px;
	position:absolute;
	left:-9%;
	border:3px solid #b2a8a8;
	border-right:none;
	border-bottom:none;
	transform:translateY(90%) rotate(-40deg);
	cursor:pointer;
}
.arrowright{
	border:3px solid #b2a8a8;
	width:20px;
	height:20px;
	position:absolute;
	right:-9%;
	border-left:none;
	border-top:none;
	transform:translateY(90%) rotate(-40deg);
	cursor:pointer;
}
.partners+p{
	text-align:center;
	text-transform:uppercase;
	text-decoration:underline;
	color:#b2a8a8;
	font-size:1.16666666667rem;
}
.partners+p:after{
	content:'';
	display:block;
	position:relative;
	width:83.3333333333%;
	margin:0 auto;
	background:linear-gradient(to right, #fff, #b2a8a8 41%, transparent 44%,transparent 56%, #b2a8a8 59%, #fff);
	height:1px;
	transform:translateY(-10px);
}
h1{
	text-align:center;
	font-size:3.33333333333rem;
}
.tooling1{
	display:table;
	table-layout:fixed;
	margin:0 auto;
	border-top-left-radius:3% 37%;
	border-top-right-radius:3% 37%;
	border-bottom-left-radius:3% 37%;
	border-bottom-right-radius:3% 37%;
	background:#503737;
	text-align:center;
	
}
.tooling1  .button{
	border-top-left-radius:3% 37%;
	border-top-right-radius:3% 37%;
	border-bottom-left-radius:3% 37%;
	border-bottom-right-radius:3% 37%;
	font-size:1.16666666667rem;
	color:#fff;
	margin-bottom:0;
	border-style:hidden;
	text-transform:none;
}
.tooling1 .button:hover{
	background:red;
}
.tooling1+table{
	width:81.6667%;
	margin:5% auto 1%;
	text-align:center;
	table-layout:fixed;
}
.tooling1+table td{
/* 	padding:0% 5%;
 */	border:1px solid #d0d0d0;
	transition:border 0.5s;
	vertical-align:text-bottom;
}
.tooling1+table td:hover{
	border:1px solid #ad9797;
}
.tooling1+table td:nth-child(3){
	padding:0;
}
.tooling1+table td:nth-child(3) img{
	transform:translateY(-10%);
}
.tooling1+table td p:first-child{
	text-decoration:underline;
}
.listtools2{
	text-decoration:line-through;
	font-size:2.5rem;
}
.listtools3{
	font-size:2.5rem;
	color:#e73939;
}
.tooling1+table tr:last-child td{
	padding:0;
	border:none;
}
.icons1,.icons2,.icons3,.icons4{
	background:#503737;
	text-align:center;
	width:50%;
	display:flex;
	position:relative;
	left:25%;
	transform:translateY(-50%);
	border-top-left-radius:3% 37%;
	border-top-right-radius:3% 37%;
	border-bottom-left-radius:3% 37%;
	border-bottom-right-radius:3% 37%;
}
.icons1 button:nth-child(1){
	background:url(../images/buy.png) no-repeat center;
	background-size:auto;
	max-width:100%;
}
.icons1 button:nth-child(2){
	background:url(../images/contrast.png) no-repeat center;
	background-size:auto;
	max-width:100%;
	
}
.icons1 button:nth-child(3){
	background:url(../images/favourites.png) no-repeat center;
	
}
.icons2 button:nth-child(1){
	background:url(../images/buy.png) no-repeat center;
	
}
.icons2 button:nth-child(2){
	background:url(../images/contrast.png) no-repeat center;
	
}
.icons2 button:nth-child(3){
	background:url(../images/favourites.png) no-repeat center;
	
}
.icons3 button:nth-child(1){
	background:url(../images/buy.png) no-repeat center;
	
}
.icons3 button:nth-child(2){
	background:url(../images/contrast.png) no-repeat center;
	
}
.icons3 button:nth-child(3){
	background:url(../images/favourites.png) no-repeat center;

}
.icons4 button:nth-child(1){
	background:url(../images/buy.png) no-repeat center;
	background-size:auto;
}
.icons4 button:nth-child(2){
	background:url(../images/contrast.png) no-repeat center;
	
}
.icons4 button:nth-child(3){
	background:url(../images/favourites.png) no-repeat center;
}
.icons1 button,.icons2 button,.icons3 button,.icons4 button{
	width:33.3333333333%;
	padding:0;
	margin-bottom:0;
	border-top-left-radius:3% 37%;
	border-top-right-radius:3% 37%;
	border-bottom-left-radius:3% 37%;
	border-bottom-right-radius:3% 37%;
}
.icons1 button:first-child:hover,.icons2 button:first-child:hover,.icons3 button:first-child:hover,.icons4 button:first-child:hover{
	background:#ff2d2d url(../images/buy.png) no-repeat center;
	border-top-left-radius:3% 37%;
	border-top-right-radius:3% 37%;
	border-bottom-left-radius:3% 37%;
	border-bottom-right-radius:3% 37%;
}
.icons1 button:nth-child(2):hover,.icons2 button:nth-child(2):hover,.icons3 button:nth-child(2):hover,.icons4 button:nth-child(2):hover{
	background:#ff2d2d url(../images/contrast.png) no-repeat center;
}
.icons1 button:nth-child(3):hover,.icons2 button:nth-child(3):hover,.icons3 button:nth-child(3):hover,.icons4 button:nth-child(3):hover{
	background:#ff2d2d url(../images/favourites.png) no-repeat center;
}

.icons1 button img,.icons2 button img,.icons3 button img,.icons4 button img{
	max-height:100%;
}
.tooling2{
	width:31.5%;
	margin:0 auto;
}
.tooling2 a{
	text-transform:uppercase;
	color:#503737;
	margin-left:10%;
}
.tooling+p{
	text-align:center;
	background:#fff;
	font-size:3.33333333333rem;
	width:13.8333333333%;
	margin:0 auto;
	color:#503737;
	transform:translateY(50%);
}
.services+p{
	width:10.9166666667%;
	margin:0 auto;
	font-size:3.33333333333rem;
}
.services{
	width:83.3333333333%;
	margin:0 auto;
	border:1px solid #d6cbcb;
	padding:5% 0;
	
}
.services2,.services3{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	
}
.services3{
	margin-top:10%;
}
.services2 figure,.services3 figure{
	display:inline-flex;
	position:relative;
	width:20%;
}
.services2 figcaption,.services3 figcaption{
	color:#d8424b;
	text-decoration:underline;
	margin-left:5%;
}
.services2 figure:first-child:after{
	content:'Цикл, в том числе, выстраивает пласт. Как мы уже знаем, форшлаг регрессийно образует звукорядный хорус.';
	
	position:absolute;
	left:0%;
	top:125%;
}
.services2 figure:nth-child(2):after{
	content:'Мы осуществляем проектирование и монтаж всего спектра поставляемого оборудования на любых типах объектов.';
	left:0%;
	position:absolute;
	top:125%;
}
.services2 figure:nth-child(3):after{
	content:'Техника начинает лирический рок-н-ролл 50-х, благодаря употреблению микромотивов: нередко из одного звука, а также двух-трех с паузами.';
	left:0%;
	position:absolute;
	top:125%;
}
.services3 figure:first-child:after{
	content:'Явление культурологического порядка, в первом приближении, самопроизвольно. Глиссандо варьирует мелодический шоу-бизнес. ';
	left:0%;
	position:absolute;
	top:125%;
}
.services3 figure:nth-child(2):after{
	content:'Группа Компаний LTM осуществляет проектирование и монтаж всего спектра поставляемого оборудования на любых типах объектов. ';
	left:0%;
	position:absolute;
	top:125%;
}
.services3 figure:nth-child(3):after{
	content:'Ретро полифигурно просветляет звукосниматель, в таких условиях можно спокойно выпускать пластинки раз в три года. ';
	left:0%;
	position:absolute;
	top:125%;
}
.stock{
	width:82.5833333333%;
	margin:0 auto;
	display:flex;
}
.stock figure{
	display:flex;
}
.stock figcaption{
	background:#f4f3eb;
	padding-left:3%;
	width:60%;
	font-size:1.7rem;
}
.stock .stock1{
	color:#e28c8d;
	text-decoration:underline;
	font-size:2.2rem;
}
.stock2{
	width:31.5%;
	margin:0 auto;
}
.stock2 a{
	color:#503737;
	text-transform:uppercase;
	margin-left:10%;
}

.stock2+table{
	width:81.6667%;
	margin:5% auto 1%;
	text-align:center;
	table-layout:fixed;
}
.stock2+table td{
 	border:1px solid #d0d0d0;
	transition:border 0.5s;
}
.stock2+table td:hover{
	border:1px solid #ad9797;
}
.stock2+table td{
	vertical-align:text-top;
	text-align:center;
}
.stock2+table td:nth-child(3){
	padding:0;
}
.stock2+table td:nth-child(1) figcaption{
	transform:translateY(-10%);
}
.stock2+table tr:last-child td{
	padding:0;
	border:none;
}