@media (min-width:1401px) and (max-width:1700px){
	nav{
		width:100%;
	}
	.partners a{
		background-size:auto 80%;
	}
	/* .news,.overview{
		padding-left:27%;
	} */
	.news>section, .overview>section{
		padding:5% 0 3% 29%;
	}
	
	
	.services{
		height:70%;
	}
}
@media (min-width:901px) and (max-width:1400px){
	.contacts1,.icons1,.icons2,.icons3,.icons4,.tooling button,.stock2+div button{
		display:none;
	}
	.tooling1~table,.stock2+div table,.stock{
		width:100%;
	}
	.partners a{
		background-size:auto 62%;
	}
	.tooling2,.stock2,.newitems2{
		width:61%;
	}
	 .services{
		width:100%;
		min-height:640px;
	}
	.services2,.services3{
		display:flex;
	}
	.services3{
		margin-top:24%;
		-ms-margin-top:10%;
	}
	
	/* .news>section, .overview>section{
		padding:5% 0 3% 29%;
	} */
	.news>section, .overview>section{
		padding:5% 0 3% 34%;
	}
}

@media (min-width:800px) and (max-width:900px){
	.contacts1,.icons1,.icons2,.icons3,.icons4,.tooling button,.stock2+div button{
		display:none;
	}
	.tooling1~table,.stock2+div table,.stock{
		width:100%;
	}
		
	.contacts>*{
		margin-top:0;
		margin-bottom:0;
		padding-top:0;
		padding-bottom:0;
		display:inline;
	}
	.contacts1{
		display:none;
	}
	.contacts{
		width:100%;
		margin:0;
	}
	.contacts p{
		margin-right:15%;
	}
	
	.whiteheader button{
		width:30%;
	}
	nav{
		justify-content:space-between;
		flex-wrap:wrap-reverse;
		font-size:1.2rem;
		font-variant:small-caps;
	}
	.partners a{
		background-size:auto 56%;
	}
	.stock img{
		display:none;
	}
	.stock figcaption{
		width:100%;
	}
	.tooling2,.stock2,.newitems2{
		width:61%;
	}
	 .services{
		min-height:640px;
		width:100%;
	}
	
	.services2,.services3{
		display:flex;
	}
	.services3{
		margin-top:31%;
	}
	.news>section, .overview>section{
		padding:5% 0 3% 46%;
	}
	
}
@media (max-width:800px){
	
	.contacts1,.icons1,.icons2,.icons3,.icons4,.tooling button,.stock2+div button{
		display:none;
	}
	.tooling1~table,.stock2+div table,.stock{
		width:100%;
	}
	.partners,.partners+p {
		display:none;
	}

	
	.contacts>*{
		margin-top:0;
		margin-bottom:0;
		padding-top:0;
		padding-bottom:0;
		display:inline;
	}
	.contacts1{
		display:none;
	}
	.contacts{
		width:100%;
		margin:0;
	}
	.contacts p{
		margin-right:15%;
	}
	
	.whiteheader button{
		width:30%;
	}
	nav{
		justify-content:space-between;
		flex-wrap:wrap-reverse;
		font-size:1.2rem;
		font-variant:small-caps;
	}
	.partners a{
		background-size:auto 56%;
	}
	.tooling2,.stock2,.newitems2{
		width:61%;
	}
	.stock img{
		display:none;
	}
	.stock figcaption{
		width:100%;
	}
	 .services{
		width:100%;
		padding:5% 0 45%;
		min-height:640px;
		
	}
	.services2,.services3{
		display:flex;
	}
	.services3{
		margin-top:60%;
	}
	.news>section, .overview>section{
		padding:5% 0 3% 50%;
	}
	
}